<div class="footer">
    <div class="content has-text-centered">

        <img src="/assets/engsoc-crest-b.svg" width="128px" alt="University of Toronto Engineering Society Crest">

        <div class="content">
            <p><strong>University of Toronto Engineering Society</strong><br>
                B740 Sandford Fleming Building<br>
                10 King's College Road<br>
                Toronto, Ontario, Canada M5S 3G4</p>
            <div>
                <a href="https://www.instagram.com/uoftengsoc/" title="Follow EngSoc on Instagram"><i class="fa fa-instagram" style="font-size:20px;"></i></a>&nbsp;&nbsp;&nbsp;
                <a href="https://www.facebook.com/UofTEngSoc/" title="Like EngSoc on Facebook"><i class="fa fa-facebook" style="font-size:20px;"></i></a>&nbsp;&nbsp;&nbsp;
                <a href="/about/contact" title="Contact Us"><i class="fa fa-comment" style="font-size:20px;"></i></a>&nbsp;&nbsp;&nbsp;
                <a href="mailto:engsoc@skule.ca" title="Send us an email"><i class="fa fa-envelope" style="font-size:20px;"></i></a>&nbsp;&nbsp;&nbsp;
            </div>
            <br>
            <p><strong>We wish to acknowledge this land on which the University of Toronto operates. For thousands of years, it has been the traditional land of the Huron-Wendat, the Seneca, and the Mississaugas of the Credit. Today, this meeting place is still the home to many Indigenous people from across Turtle Island and we are grateful to have the opportunity to work on this land.</strong></p>
            <br>
            <p>This website was designed by your fellow engineers.</p>
            <a href="https://github.com/skule/skule.ca/issues">
                Found an error, broken link, or bug in the site?
            </a></p>
            <p>© 2025 Skule™</p>
        </div>

    </div>
</div>