<div class="footer">
    <div class="content has-text-centered">

        <img src="/assets/engsoc-crest-b.svg" width="128px" alt="University of Toronto Engineering Society Crest">

        <div class="content">
            <p><strong>University of Toronto Engineering Society</strong><br>
                B740 Sandford Fleming Building<br>
                10 King's College Road<br>
                Toronto, Ontario, Canada M5S 3G4</p>
            <div>
                <a href="https://www.instagram.com/uoftengsoc/" title="Follow EngSoc on Instagram"><i class="fa fa-instagram" style="font-size:20px;"></i></a>&nbsp;&nbsp;&nbsp;
                <a href="https://www.facebook.com/UofTEngSoc/" title="Like EngSoc on Facebook"><i class="fa fa-facebook" style="font-size:20px;"></i></a>&nbsp;&nbsp;&nbsp;
                <a href="./contact" title="Contact Us"><i class="fa fa-comment" style="font-size:20px;"></i></a>&nbsp;&nbsp;&nbsp;
                <a href="mailto:engsoc@skule.ca" title="Send us an email"><i class="fa fa-envelope" style="font-size:20px;"></i></a>&nbsp;&nbsp;&nbsp;
            </div>
            <br>
            <p>This website was designed by your fellow engineers.</p>
            <a href="https://github.com/skule/skule.ca/issues">
                Found an error, broken link, or bug in the site?
            </a></p>
            <p>© 2023 Skule™</p>
        </div>

    </div>
</div>