<nav class="navbar is-info" style="background-color: #274d6b" role="navigation" aria-label="main navigation">
    <div class="navbar-brand ">
        <!-- LOGO -->
        <a class="navbar-item" id="logo" href="/">
            <img src="/assets/skule-logo-white.svg" alt="Logo">
        </a>

        <!-- navbar burger for mobile -->
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu" id="navMenu">
        <div class="navbar-start"></div>
        <div class="navbar-end ">
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link is-arrowless" href="/">
                    Home
                </a>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link is-arrowless" href="stores.skule.ca">
                    Engineering Stores
                </a>
            </div>
            {% assign mydocs = site.html_pages | group_by: 'dir' %}
            {% for cat in mydocs %}
            {% unless cat.name == "/" or cat.name contains "announcements"%}
            <div class="navbar-item has-dropdown is-hoverable">
                {% assign firstItem = cat.items | sort: 'order' | first %}
                <a class="navbar-link" href="{{ firstItem.url }}">
                    {% assign titlewords = cat.name | remove: "/" | split: "-" %}
                    {% for titleword in titlewords %}
                    {{ titleword | capitalize | replace: "The","the" }}
                    {% endfor %}
                </a>
                <div class="navbar-dropdown">
                    {% assign items = cat.items | sort: 'order' %}
                    {% for item in items %}
                    <a class="navbar-item" href="{{ item.url }}">{{ item.title }}</a>
                    {% endfor %}
                </div>
            </div>
            {% endunless %}
            {% endfor %}
        </div>
    </div>
</nav>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
        // Add a click event on each of them
        $navbarBurgers.forEach(el => {
            el.addEventListener('click', () => {
                // Get the target from the "data-target" attribute
                const target = el.dataset.target;
                const $target = document.getElementById(target);
                // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                el.classList.toggle('is-active');
                $target.classList.toggle('is-active');
            });
        });

    });
</script>