<section class="skuleblue hero is-primary is-small">
    <!-- Hero header: will stick at the top -->
    <div class="hero-head">
        <nav class="navbar navbar-size">
            <div class="navbar-brand navbar-size">
                <!-- LOGO -->
                <a class="navbar-item" id="logo" href="./">
                    <img src="assets/img/skule-logo-white.svg" alt="Logo">
                </a>

                <!-- navbar burger for mobile -->
                <div class="navbar-burger navbar-size" id="nav-toggle">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>

            <div class="navbar-menu navbar-size">
                <div class="navbar-start"></div> <!-- left nav mennu -->

                <div class="navbar-end navbar-size"> <!-- right nav menu -->
                    <!-- drop down menu begin -->
                    <div class="navbar-item has-dropdown is-hoverable navbar-size"><a class="navbar-link" href="./get_involved">Get Involved</a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item is-hidden-touch" href="./affiliated_clubs">Affiliated Clubs</a>
                            <a class="navbar-item is-hidden-touch" href="./design_teams">Design Teams</a>
                            <a class="navbar-item is-hidden-touch" href="./directorships">Project Directors</a>
                            <a class="navbar-item is-hidden-touch" href="./associated">Associated Entities</a>
                            <a class="navbar-item is-hidden-touch" href="./discipline_clubs">Discipline Clubs</a>
                            <a class="navbar-item is-hidden-touch" href="./elections">Elections</a>
                        </div>
                        <div class="navbar-item has-dropdown is-hoverable navbar-size"><a class="navbar-link" href="./finances">Finances</a>
                            <div class="navbar-dropdown">
                                <a class="navbar-item is-hidden-touch" href="./financial_status">Financial Status</a>
                                <a class="navbar-item is-hidden-touch" href="./special_projects">Special Projects</a><a class="navbar-item is-hidden-touch" href="./conferences">Conferences</a>
                                <a class="navbar-item is-hidden-touch" href="./club_funding">Club Funding</a>
                                <a class="navbar-item is-hidden-touch" href="./levies">Levies</a>
                                <a class="navbar-item is-hidden-touch" href="./SEF">Skule Endowment Fund</a>
                                <a class="navbar-item is-hidden-touch" href="./cheque_requisitions">Cheque Requisitions</a>
                                <a class="navbar-item is-hidden-touch" href="./finance_committee">Finance Committee</a>
                            </div>
                        </div>
                        <div class="navbar-item has-dropdown is-hoverable navbar-size"><a class="navbar-link" href="./academics">Academics</a>
                            <div class="navbar-dropdown"><a class="navbar-item is-hidden-touch" href="./academic_representation">Academic Representation</a>
                                <a class="navbar-item is-hidden-touch" href="./past_exams">Past Midterms and Exams</a>
                                <a class="navbar-item is-hidden-touch" href="./tutoring">Tutoring</a>
                                <a class="navbar-item is-hidden-touch" href="./academic_faqs">FAQs</a>
                                <a class="navbar-item is-hidden-touch" href="./documents_and_publications">Documents and Publications</a>
                                <a class="navbar-item is-hidden-touch" href="./ECC">ECC Advocacy</a>
                            </div>
                        </div>
                        <div class="navbar-item has-dropdown is-hoverable navbar-size"><a class="navbar-link" href="./club_resources">Club Resources</a>
                            <div class="navbar-dropdown"><a class="navbar-item is-hidden-touch" href="./club_affiliation">Affiliation Process</a>
                                <a class="navbar-item is-hidden-touch" href="./club_funding">Club Funding</a>
                                <a class="navbar-item is-hidden-touch" href="./promotion">Promotion</a>
                                <a class="navbar-item is-hidden-touch" href="./discounts">Food Discounts for Clubs</a>
                                <a class="navbar-item is-hidden-touch" href="./cac">Club Affiliation Committee</a>
                            </div>
                        </div>
                        <div class="navbar-item has-dropdown is-hoverable navbar-size"><a class="navbar-link" href="./bookings">Bookings/Rentals</a>
                            <div class="navbar-dropdown"><a class="navbar-item is-hidden-touch" href="./room_bookings">Room Bookings</a>
                                <a class="navbar-item is-hidden-touch" href="./av_bookings">A/V Equipment</a>
                                <a class="navbar-item is-hidden-touch" href="./parking_bookings">Parking Spot</a>
                                <a class="navbar-item is-hidden-touch" href="./lockers">Lockers</a>
                            </div>
                        </div>
                        <div class="navbar-item has-dropdown is-hoverable navbar-size"><a class="navbar-link" href="./about">About Us</a>
                            <div class="navbar-dropdown"><a class="navbar-item is-hidden-touch" href="./engsoc">EngSoc</a>
                                <a class="navbar-item is-hidden-touch" href="./what_is_skule">What is Skule™?</a>
                                <a class="navbar-item is-hidden-touch" href="./contact">Contact</a>
                                <a class="navbar-item is-hidden-touch" href="./officers">Officers</a>
                                <a class="navbar-item is-hidden-touch" href="./humans">Governing Members</a>
                                <a class="navbar-item is-hidden-touch" href="./awards">Awards</a>
                                <a class="navbar-item is-hidden-touch" href="./agm">Annual General Meeting</a>
                                <a class="navbar-item is-hidden-touch" href="./psc">Policies and Structures Committee</a>
                            </div>
                        </div>
                        <div class="navbar-item has-dropdown is-hoverable navbar-size"><a class="navbar-link" href="./documents">EngSoc Documents</a>
                            <div class="navbar-dropdown"><a class="navbar-item is-hidden-touch" href="./governing_documents">Governing Documents</a>
                                <a class="navbar-item is-hidden-touch" href="./minutes">Meeting Minutes</a>
                                <a class="navbar-item is-hidden-touch" href="./financial_documents">Financial Documents</a>
                                <a class="navbar-item is-hidden-touch" href="./statement">EngSoc Statement on Anti-Black Racism</a>
                            </div>
                        </div>
                        <div class="navbar-item has-dropdown is-hoverable navbar-size"><a class="navbar-link" href="./externalResources">External Resources</a>
                            <div class="navbar-dropdown"><a class="navbar-item is-hidden-touch" href="./utsu">UTSU</a>
                                <a class="navbar-item is-hidden-touch" href="./campus_resources">Campus Resources</a>
                                <a class="navbar-item is-hidden-touch" href="./skulepedia">Skulepedia</a>
                                <a class="navbar-item is-hidden-touch" href="./faculty_incident_disclosure">Incident Disclosure Form</a>
                            </div>
                        </div>
                    </div> <!-- navbar-end end -->
                </div> <!-- end of navbar menu -->
        </nav> <!-- end of nav -->
    </div> <!--- end of hero-head -->

    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
        <div class="container">
            <div class="columns is-gapless">
                <div class="column">
                    <h1 class="title">
                        About Us </h1>
                </div>
            </div>
        </div>
    </div>

    <!-- Hero footer: will stick at the bottom -->
    <div class="hero-foot">
        <nav class="tabs is-boxed">
            <div class="container">
                <ul class="major">
                    <li id="tab-engsoc" class="tab"><a href="./engsoc">EngSoc</a></li>
                    <li id="tab-what_is_skule" class="tab"><a href="./what_is_skule">What is Skule™?</a></li>
                    <li id="tab-contact" class="tab"><a href="./contact">Contact</a></li>
                    <li id="tab-officers" class="tab"><a href="./officers">Officers</a></li>
                    <li id="tab-humans" class="tab"><a href="#">Governing Members</a></li>
                    <li id="tab-awards" class="tab"><a href="./awards">Awards</a></li>
                    <li id="tab-agm" class="tab"><a href="./agm">Annual General Meeting</a></li>
                    <li id="tab-psc" class="tab"><a href="./psc">Policies and Structures Committee</a></li>
                </ul>
            </div>
        </nav>
    </div>
</section>