<nav class="navbar darkskuleblue is-info" role="navigation" aria-label="main navigation">
    <div class="navbar-brand ">
        <!-- LOGO -->
        <a class="navbar-item" id="logo" href="/">
            <img src="/assets/img/skule-logo-white.svg" alt="Logo">
        </a>

        <!-- navbar burger for mobile -->
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu ">
        <div class="navbar-start">
            {% assign mydocs = site.pages | group_by: 'dir' %}
            {% for cat in mydocs %}
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="e">{{ cat.name | remove: "/" | replace: "-", " " | capitalize }}</a>
                <div class="navbar-dropdown">
                    {% assign items = cat.items | sort: 'order' %}
                    {% for item in items %}
                    <a class="navbar-item " href="{{ item.url }}">{{ item.title }}</a>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="navbar-end "></div>
    </div>
</nav>

<section class="hero is-primary is-small">
    <div class="hero-body container">
        <h1 class="title">
            {% assign titlewords = page.dir | remove: "/" | split: "-" %}
            {% for titleword in titlewords %}
            {{ titleword | capitalize | replace: "The","the" }}
            {% endfor %}
        </h1>
    </div>
    <div class="hero-foot container">
        <nav class="tabs is-boxed">
            <ul class="major">
                {% assign items = site.pages | sort: "order" %}
                {% for item in items %}
                {% if page.dir == item.dir %}
                <li class="tab"><a href="{{ item.url }}">{{ item.title }}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
    </div>
</section>