@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.skuleblue {
    background-color: #3b739e !important;
}

.vp-comms-green {
    background-color: #3b739e !important;
}

html {
    overflow-y: auto !important;
    font-family: 'Quicksand', sans-serif !important;
}

/* INDEX PAGE SUBSECTIONS STYLING */
.index:before {
    content: '';
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, #002f4b, #dc4225);
    opacity: .6;
}

#about {
    background: linear-gradient(to right, rgba(239, 239, 239, 0.95) 0%, rgba(239, 239, 239, 0.95) 50%, rgba(239, 239, 239, 0) 87.5%), url('../img/index-bg/about.jpg') center no-repeat;
    background-size: cover;
}

#get-involved {
    background: linear-gradient(to right, rgba(239, 239, 239, 0.95) 0%, rgba(239, 239, 239, 0.95) 50%, rgba(239, 239, 239, 0) 87.5%), url('../img/index-bg/get-involved.jpg') center no-repeat;
    background-size: cover;
}

#finances {
    background: linear-gradient(to right, rgba(239, 239, 239, 0.98), rgba(239, 239, 239, 0.98)), url('../img/index-bg/finances.jpg') center no-repeat;
    background-size: cover;
}

#club-resources {
    background: linear-gradient(to right, rgba(239, 239, 239, 0.95) 0%, rgba(239, 239, 239, 0.95) 50%, rgba(239, 239, 239, 0) 87.5%), url('../img/index-bg/club-resources.jpg') center no-repeat;
    background-size: cover;
}

#bookings {
    background: linear-gradient(to right, rgba(239, 239, 239, 0.95), rgba(239, 239, 239, 0.95)), url('../img/index-bg/bookings.jpg') center no-repeat;
    background-size: cover;
}

@media (max-width: 768px) {
    #about {
        background: linear-gradient(to bottom, rgba(239, 239, 239, 0.95) 0%, rgba(239, 239, 239, 0.95) 60%, rgba(239, 239, 239, 0) 90%), url('../img/index-bg/about.jpg') center no-repeat;
        background-size: cover;
        padding: 0 0 25%;
    }

    #get-involved {
        background: linear-gradient(to bottom, rgba(239, 239, 239, 0.95) 0%, rgba(239, 239, 239, 0.95) 60%, rgba(239, 239, 239, 0) 90%), url('../img/index-bg/get-involved.jpg') center no-repeat;
        background-size: cover;
        padding: 0 0 25%;
    }

    #finances {
        background: linear-gradient(to right, rgba(239, 239, 239, 0.98) 0%, rgba(239, 239, 239, 0.98) 75%, rgba(239, 239, 239, 0) 100%), url('../img/index-bg/finances.jpg') center no-repeat;
        background-size: cover;
        padding: 0;
    }

    #club-resources {
        background: linear-gradient(to bottom, rgba(239, 239, 239, 0.95) 0%, rgba(239, 239, 239, 0.95) 60%, rgba(239, 239, 239, 0) 90%), url('../img/index-bg/club-resources.jpg') center no-repeat;
        background-size: cover;
        padding: 0 0 25%;
    }

    #bookings {
        background: linear-gradient(to bottom, rgba(239, 239, 239, 0.95), rgba(239, 239, 239, 0.95)), url('../img/index-bg/bookings.jpg') center no-repeat;
        background-size: cover;
        padding: 0;
    }
}

.footer-box {
    padding: 0 0 20px !important;
    background: #fff !important;
    border-radius: 0 !important;
    box-shadow: 0 0 0 !important;
}

@media (max-width: 768px) {
    .footer-box {
        border-bottom: 0;
    }
}