@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

#crest {
    background-image: url("/assets/engsoc-crest-w.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.tab.is-active a {
    background-color: #eeeeee !important;
    color: #3b739e !important;
}

.hero.is-primary .tabs li.is-active a {
    color: #3b739e !important;
}

.is-primary {
    background-color: #3b739e !important;
}

hr {
    color: #dbdbdb !important;
    background-color: #dbdbdb !important;
}

.menu {
    position: sticky;
    top: 20px;
}

.hero {
    background-image: url("/assets/engsoc-crest-bg.svg");
    background-repeat: no-repeat;
    background-position: right;
}

.box {
    box-shadow: 0 0 0;
}



html {
    background-color: #eeeeee;
}

/* INDEX PAGE SUBSECTIONS STYLING */
.index:before {
    content: '';
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, #002f4b, #dc4225);
    opacity: .6;
}

.has-text-primary {
    color: #3b739e !important;
}

.megaicon i {
    font-size: 64px;
    padding: 16px;
    background-color: #3b739e;
    color: white;
    border-radius: 16px;
    margin-bottom: 16px;
}

.megaicon {
    color: #3b739e;
    font-weight: 700;
    font-size: 18px;
}



@media (max-width: 768px) {
    #about {
        background: #eeeeee;
    }

    #get-involved {
        background: #eeeeee;
    }

    #finances {
        background: #eeeeee;
    }

    #club-resources {
        background: #eeeeee;
    }

    #bookings {
        background: #eeeeee;
    }
}

.president {
    background-color: #5d45a9;
    color: white;
}

.president-text {
    color: #5d45a9;
}

.vp-finance {
    background-color: #38a87a;
    color: white;
}

.vp-finance-text {
    color: #38a87a;
}

.vp-comms {
    background-color: #f55252;
    color: white;
}

.vp-comms-text {
    color: #f55252;
}

.vp-academic {
    background-color: #2b6482;
    color: white;
}

.vp-academic-text {
    color: #2b6482;
}

.vp-student-life {
    background-color: #c49300;
    color: white;
}

.vp-student-life-text {
    color: #c49300;
}

.speakpersono {
    background-color: #0a0a0a;
    color: white;
}

.speakpersono-text {
    color: #0a0a0a;
}

table tr#GREEN_HEADER  {background-color:#38a87a; color:white;}

table tr#YELLOW_HEADER  {background-color:#c49300; color:white;}
table td#YELLOW_COL  {background-color:#ddba51a9; color:white;}

table tr#BLUE_HEADER  {background-color:#2b6482; color:white;}
table td#BLUE_COL  {background-color:#508baaa2; color:white;}

table tr#PURPLE_HEADER  {background-color:#5d45a9; color:white;}
table td#PURPLE_COL {background-color:#7d66ca9c; color:white;}