@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

#crest {
    background-image: url("/assets/engsoc-crest-w.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.tab.is-active a {
    background-color: #eeeeee !important;
    color: #3b739e !important;
}

.tab.is-active a:hover {
    background-color: #eeeeee !important;
    color: #3b739e !important;
}


.is-primary {
    background-color: #3b739e !important;
}

hr{
    color: #dbdbdb !important;
    background-color: #dbdbdb !important;
}

.menu {
    position: sticky;
    top: 20px;
}

.hero {
    background-image: url("/assets/engsoc-crest-bg.svg");
    background-repeat: no-repeat;
    background-position: right;
}


.box {
    box-shadow: 0 0 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300 !important;
}

html {
    font-family: 'Quicksand', sans-serif !important;
    background-color: #eeeeee;
}

/* INDEX PAGE SUBSECTIONS STYLING */
.index:before {
    content: '';
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, #002f4b, #dc4225);
    opacity: .6;
}

.has-text-primary {
    color: #3b739e !important;
}

.megaicon i {
    font-size: 64px;
    padding: 16px;
    background-color: #3b739e;
    color: white;
    border-radius: 16px;
    margin-bottom: 16px;
}

.megaicon {
    color: #3b739e;
    font-weight: 700;
    font-size: 18px;
}

#about {
    background: linear-gradient(to right, rgba(239, 239, 239, 0.95) 0%, rgba(239, 239, 239, 0.95) 50%, rgba(239, 239, 239, 0) 87.5%), url('/assets/about.jpg') center no-repeat;
    background-size: cover;
}

#get-involved {
    background: linear-gradient(to right, rgba(239, 239, 239, 0.95) 0%, rgba(239, 239, 239, 0.95) 50%, rgba(239, 239, 239, 0) 87.5%), url('/assets/get-involved.jpg') center no-repeat;
    background-size: cover;
}

#finances {
    background: linear-gradient(to right, rgba(239, 239, 239, 0.98), rgba(239, 239, 239, 0.98)), url('/assets/finances.jpg') center no-repeat;
    background-size: cover;
}

#club-resources {
    background: linear-gradient(to right, rgba(239, 239, 239, 0.95) 0%, rgba(239, 239, 239, 0.95) 50%, rgba(239, 239, 239, 0) 87.5%), url('/assets/club-resources.jpg') center no-repeat;
    background-size: cover;
}

#bookings {
    background: linear-gradient(to right, rgba(239, 239, 239, 0.95), rgba(239, 239, 239, 0.95)), url('/assets/bookings.jpg') center no-repeat;
    background-size: cover;
}

@media (max-width: 768px) {
    #about {
        background: #eeeeee;
    }

    #get-involved {
        background: #eeeeee;
    }

    #finances {
        background: #eeeeee;
    }

    #club-resources {
        background: #eeeeee;
    }

    #bookings {
        background: #eeeeee;
    }
}