---
layout: page
---

<div class="columns is-multiline">

    <div class="column is-2 is-hidden-touch">
        <aside class="menu">
            <p class="menu-label"> Menu </p>
            <ul class="menu-list">
                <li><a href="#president">President</a></li>
                <li><a href="#vpf">VP Finance</a></li>
                <li><a href="#vpcomm">VP Communciations</a></li>
                <li><a href="#vpa">VP Academic</a></li>
                <li><a href="#vpsl">VP Student Life</a></li>
            </ul>
        </aside>
    </div>

    <div class="column">
        {{ content }}
    </div>
</div>