---
layout: page
---

<div class="columns">

    <div class="column is-2 is-hidden-touch">
        <aside class="menu">
            <p class="menu-label"> Menu </p>
            <ul class="menu-list">
                {% assign lines = page.content | replace:"##","> ##" | split:">" %}
                {% for line in lines %}
                {% if line contains " ## " %}
                <li><a href="#{{ line | remove:"##" | slugify}}">{{ line | remove:"##" }}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
        </aside>
    </div>

    <div class="column">
        {{ content }}
    </div>
</div>